<div class="container-fluid">
    <div class="heading">
        <h2>
            <i class="ion-person"></i>
            Setup a new Organization
        </h2>
    </div>

    <form class="form"  method="post" action="#/dashboard/organizations/new">
        <input type="text" class="form-control" name="name" />

        <input type="submit" class="btn-gradient btn-gradient-lg gradient-green-blue" value="Create">
    </form>
</div>