<div class="container-fluid">
    <div class="heading">
        <h2>
            <i class="ion-person"></i>
            Setup a new Organization
        </h2>
    </div>

    <form class="form organization"  method="post" action="#/dashboard/organizations/new">
        <div id="new-org-form-errors" class="auth-error-block alert alert-danger">
            <strong>The following errors occurred:</strong>
            <ul id="new-org-form-errors-list"></ul>
        </div>

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" />
        </div>

        <input type="submit" class="btn btn-info full-width" value="Create">
    </form>
</div>