.m-customization {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.m-customization .showcase-box img{
  width: 100%;
}

.m-customization .showcase-box .description-inner {
  text-align: center;
}