// Slider Module

.m-slider {
  float: left;
  height: 100%;
  position: relative;
  width: 100%;
  background-color: rgb(28, 32, 45);
}

.m-slider .slide-title {
  font-size: 140px;
}

.m-slider .slide-title span {
  float: left;
}

.m-slider .slide-title .lg {
  font-family: lato-black;
}

.m-slider .slide-subtitle {
  font-size: 25px;
  letter-spacing: 0.13em;
}

.tp-banner-container {
  height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

.tp-banner-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tp-banner {
  position: relative;
  width: 100%;
}

.tp-banner-fullscreen-container {
  padding: 0;
  position: relative;
  width: 100%;
}

// Responsive
@media (min-width: 1200px) and (max-width: 1600px) {
  .m-slider .slide-subtitle {
    margin-top: 20px;
  }

  .m-slider .slide-title{
    font-size: 12em;
  }

  .m-slider .slide-logo {
    width: 380px;
    height: 380px;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .m-slider .slide-subtitle {
    margin-top: 20px;
  }

  .m-slider .slide-title{
    font-size: 12em;
  }

  .m-slider .slide-logo {
    width: 380px;
    height: 380px;
  }
}

@media only screen and (max-width : 1200px) {
  .m-slider .slide-title{
    font-size: 15vw;
  }

  .m-slider .slide-subtitle {
    font-size: 3vw;
    margin-top: 10vh;
  }
}

