<div class="container-fluid">
    <div class="heading">
        <h2>
            <i class="ion-folder"></i>
            Project settings
        </h2>
    </div>

    <div class="options">
        <div class="categories row">
            <div id="new-cat-form-errors" class="auth-error-block alert alert-danger">
                <strong>The following errors occurred:</strong>
                <ul id="new-cat-form-errors-list"></ul>
            </div>

            <form class="form" method="post" action="#/dashboard/projects/{{projectId}}/categories/add">
                <div class="form-group">
                    <label for="name">Category Name:</label>
                    <input type="text" name="name" id="name" />
                </div>

                <input type="submit" class="btn-gradient btn-gradient-lg gradient-green-blue" value="Create Category">
            </form>
        </div>

        <div class="members row">
            <form class="form" method="post" action="#/dashboard/projects/{{projectId}}/members/add">
                <div class="form-group">

                </div>

                <input type="submit" class="btn-gradient btn-gradient-lg gradient-green-blue" value="Add members">
            </form>
        </div>
    </div>
</div>