.dashboard .l-page-content {
  display: none;
}

.dashboard .l-dashboard {
  display: block;
}

.dashboard-main-section {
  float: none;
  width: auto;
  overflow: hidden;
  height: 100%;
  padding: 0;
}

.dashboard-main-section .dashboard-header {
  margin: 0;
  padding: 0;
  height: auto;
  border-bottom: 1px solid;
  box-shadow: 1px 0 4px;
}

.dashboard-main-section .dashboard-header > h2 {
  margin: 0;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 26px;
  text-align: left;
}

.dashboard-main-section .dashboard-content {
  margin: 0;
  padding: 0;
  height: calc(100% - 86px);
  border: 0;
  overflow-y: auto;
}

// Responsive
@media all and (max-width: 992px) {
  .dashboard-main-section {
    width: 100%;
    float: left;
  }
}
