.dashboard #l-page-content {
  display: none;
}

.dashboard #l-dashboard {
  display: block;
}

.dashboard-main-section {
  float: none;
  width: auto;
  overflow: hidden;
  height: 100%;
  padding: 0;
}

.dashboard-main-section .dashboard-header {
  height: auto;
  border-bottom: 1px solid;
  -moz-box-shadow: 1px 0 4px;
  -webkit-box-shadow: 1px 0 4px;
  box-shadow: 1px 0 4px;
  padding: 0;
  margin: 0;
}

.dashboard-main-section .dashboard-header > h2 {
  float: left;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 26px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  padding-left: 30px;
  text-align: left;
}

.dashboard-main-section .dashboard-header .dashboard-options {
  margin: 0;
  padding: 30px;
  font-size: 20px;
  line-height: 26px;
}

.dashboard-main-section .dashboard-content {
  border: none;
  overflow-y: auto;
  height: calc(100% - 86px);
  padding: 0;
  margin: 0;
}

// Responsive
@media all and (max-width: 992px) {
  .dashboard-main-section {
    width: 100%;
    float: left;
  }
}