// Lato
@font-face {
  font-family: 'lato-black';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Lato/lato-black-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-black-webfont.woff') format('woff'),
  url('../fonts/Lato/lato-black-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-black-italic';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/Lato/lato-blackitalic-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-blackitalic-webfont.woff') format('woff'),
  url('../fonts/Lato/lato-blackitalic-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-bold';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Lato/lato-bold-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-bold-webfont.woff') format('woff'),
  url('../fonts/Lato/lato-bold-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-bold-italic';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/Lato/lato-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-bolditalic-webfont.woff') format('woff'),
  url('../fonts/Lato/lato-bolditalic-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-hairline';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Lato/lato-hairline-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-hairline-webfont.woff') format('woff'),
  url('../fonts/Lato/lato-hairline-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-hairline-italic';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/Lato/lato-hairlineitalic-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-hairlineitalic-webfont.woff') format('woff'),
  url('../fonts/Lato/lato-hairlineitalic-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-italic';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/Lato/lato-italic-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-italic-webfont.woff') format('woff'),
  url('../fonts/Lato/lato-italic-webfont.ttf') format('truetype');
}


@font-face {
  font-family: 'lato-light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Lato/lato-light-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-light-webfont.woff') format('woff'),
  url('../fonts/Lato/lato-light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'lat-italic';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/Lato/lato-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-lightitalic-webfont.woff') format('woff'),
  url('../fonts/Lato/lato-lightitalic-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Lato/lato-regular-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-regular-webfont.woff') format('woff'),
  url('../fonts/Lato/lato-regular-webfont.ttf') format('truetype');
}
