// Layout
h1, h2, h3, h4, h5, h6 { color: $dark-blue; }

// Buttons
.btn-ghost {
  color: $white;
  background: rgba(0,0,0,0.01);
  border-color: $white;

  &:hover {
    background: #45cdfe;
    border-color: #45cdfe;
  }

  &:hover a {
    color: $white;
  }
}

.btn-ghost a {
  color: $white;
}

// Navigation
.l-header {
  border-bottom: 1px solid $glass;
}

.l-header.transparent {
  background: transparent;
}

.l-header.opaque-header {
  background: $white;
}

.l-header.shrinked-header .l-header-nav .l-header-nav-item a,
.l-header.shrinked-header .l-header-account-nav .l-header-account-nav-item a {
  color: $silver;
}

.l-header-nav .l-header-nav-item.active a,
.l-header-account-nav .l-header-account-nav-item.active a {
  background: transparent;
  color: $electric-green;
}

.l-header-nav .l-header-nav-item a,
.l-header-account-nav .l-header-account-nav-item a {
  color: $white;

  &:focus {
    background: transparent;
  }

  &:active {
    background: transparent;
  }

  &:hover {
    background: transparent;
    color: $electric-green;
  }
}

.l-header-account-nav-item.account-btn {
  border-color: $glass;
  -moz-border-left-colors: $glass;
  -moz-border-right-colors: $glass;
}

.l-header-mobile-trigger {
  color: $white;
}

.l-mobile-menu .mobile-menu-item a{
  color: $white;
}

.l-header.shrinked-header .l-header-mobile-trigger{
  color: $silver;
}

// Sections
.l-section .heading > .border {

  border-top-color: #21c2f8;
}
.l-section .heading > .border.white {

  border-top-color: $white;
}

// Slider
.m-slider .slide-title,
.m-slider .slide-subtitle {
  color: $white;
}

// Features
.m-key-features {
  background-color: #1c202d;
}

.m-key-features .heading h2 {
  color: $white;
}

// Management
.m-management {
  background: $white;
}

.m-management .description {
  color: $medium-grey;
}

// Customziation
.m-customization .heading h2 {
  color: $white;
}

.m-customization .description {
  color: $white;
}

.m-customization .showcase-box .heading > h3 {
  color: $white;
}
.m-customization .showcase-box .description-inner {
  color: $white;
}

.m-customization {
  background: #6bc4fe url('/media/homepage/bg-customization.jpg');
}

// Demo section
.m-demo {
  background-image: url("/media/homepage/bg-parallax.jpg");
}
.m-demo .heading h2 {
  color: $white;
}