<section id="hp-slider" class="m-slider default">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li class="rs-particles-interactive"
                    data-transition="fade"
                    data-slotamount="7"
                    data-masterspeed="300"
                    data-saveperformance="off">

                    <img src="./media/homepage/homepage_background.jpg"
                         data-src="./media/homepage/homepage_background.jpg"
                         alt=""
                         data-bgfit="cover"
                         data-bgposition="center top"
                     >

                    <div class="tp-caption tp-fade opacity_scroll rs-parallaxlevel-2 start"
                         data-x="center"
                         data-hoffset="0"
                         data-y="center"
                         data-voffset="-73"
                         data-speed="700"
                         data-start="500"
                         data-easing="Power3.easeInOut"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                    >
                        <img src="./media/homepage/logo.png"
                             alt=""
                             class="slide-logo"
                             data-ww="420"
                             data-hh="420"
                        />
                    </div>

                    <div class="tp-caption sfb opacity_scroll rs-parallaxlevel-2 start"
                         data-x="center"
                         data-hoffset="0"
                         data-y="center"
                         data-voffset="177"
                         data-speed="600"
                         data-start="1100"
                         data-easing="Power3.easeInOut"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                    >
                        <h1 class="slide-title">
                            <span class="sm">the</span>
                            <span class="lg">Slyfer</span>
                        </h1>
                    </div>

                    <div class="tp-caption sfb opacity_scroll rs-parallaxlevel-2 start"
                         data-x="center"
                         data-hoffset="0"
                         data-y="center"
                         data-voffset="292"
                         data-speed="600"
                         data-start="1200"
                         data-easing="Power3.easeInOut"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="300"
                    >
                        <p class="slide-subtitle">A Premium Bug Tracking Service</p>
                    </div>
                    <div id="particles-js" class="tp-particles"></div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="m-key-features">
    <div class="container-fluid">
        <div class="feature col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <div class="icon">
                <i class="ion-ios-infinite-outline lime"></i>
            </div>
            <div class="heading">
                <h2>Unlimited Possibilities</h2>
            </div>
        </div>
        <div class="feature col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <div class="icon">
                <i class="ion-ios-gear-outline orange"></i>
            </div>
            <div class="heading">
                <h2>Amazing Option</h2>
            </div>
        </div>
        <div class="feature col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <div class="icon">
                <i class="ion-ios-bolt-outline electric-blue"></i>
            </div>
            <div class="heading">
                <h2>Powerful features</h2>
            </div>
        </div>
        <div class="feature col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <div class="icon">
                <i class="ion-ios-heart-outline electric-pink"></i>
            </div>
            <div class="heading">
                <h2>Incredible Support</h2>
            </div>
        </div>
    </div>
</section>

<section id="management-section" class="m-management l-section section-default">
    <div class="container">
        <div class="heading">
            <h2>Powerful Admin Panel</h2>
            <div class="border"></div>
        </div>

        <div class="description">
            <p>
                TheSlyfer provides you with a powerful admin panel,
                where you can manage and track your company, teams and projects...
            </p>
        </div>

        <div class="image">
            <img src="./media/homepage/powerfull_admin.png" />
        </div>
    </div>
</section>

<section id="customization-section" class="m-customization l-section section-default">
    <div class="container">
        <div class="heading">
            <h2>Easy to Customize Everything</h2>
            <div class="border white"></div>
        </div>

        <div class="description">
            <p>
                Super intuitive interface for both company and regular users makes
                using TheSlyfer a child's play...
            </p>
        </div>

        <div class="showcase">
            <div class="showcase-box col-lg-4">
                <figure>
                    <img src="./media/homepage/customization_box.png" alt="">
                </figure>
                <div class="heading">
                    <h3>Company Details</h3>
                </div>
                <div class="description-inner">
                    <p>Easy to customize company setup and settings according to your needs.</p>
                </div>
            </div>
            <div class="showcase-box col-lg-4">
                <figure>
                    <img src="./media/homepage/customization_box.png">
                </figure>
                <div class="heading">
                    <h3>Team Configuration</h3>
                </div>
                <div class="description-inner">
                    <p>Custom developers team setup, permissions, administrations and more...</p>
                </div>
            </div>
            <div class="showcase-box col-lg-4">
                <figure>
                    <img src="./media/homepage/customization_box.png">
                </figure>
                <div class="heading">
                    <h3>Bug tracking</h3>
                </div>
                <div class="description-inner">
                    <p>
                        You can configure public or private bug sections, availability to
                        the public, custom designs for every bug report page and many more.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="support-section" class="m-support l-section section-default bg-responsive desk">
    <div class="container">
        <div class="heading">
            <h2>Fully Responsive Design</h2>
            <div class="border"></div>
        </div>

        <div class="description">
            <p>
                TheSlyfer will always look good even if you are viewing it
                form smartphone, tablet or any other device...
            </p>
        </div>

        <div class="image">
            <img src="./media/homepage/desk1.png" />
        </div>
    </div>
</section>

<section id="demo-section" class="m-demo parallax-feature l-section section-default">
    <div class="container">
        <div class="heading">
            <h2>Experience</h2>
        </div>
        <div class="description">
            <p>Create a custom environment and test theSlyfer</p>
        </div>
        <div class="options">
            <button class="btn btn-ghost btn-medium-large">
                <a href="#">Start a demo</a>
            </button>
        </div>
    </div>
</section>


