.l-section {
  float: left;
  position: relative;
  width: 100%;
}

.l-section > .container {
  padding: 100px 0;
}

.l-section .heading > h2 {
  text-align: center;
  margin: 0 0 25px 0;
}

.l-section .heading > h3 {
  font-size: 18px;
  line-height: 24px;
}

.l-section .heading > .border {
  width: 100px;
  display: block;
  position: relative;
  margin: 0 auto 20px auto;
  border-top: 1px solid #21c2f8;
}

.l-section .description {
  line-height: 32px;
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto 35px auto;
  text-align: center;
}

.l-section .image img{
  height: auto;
  max-width: 100%;
}

.l-section.section-transition > .container {
  padding-top: 67px;
  padding-bottom: 8px;
}

.l-section.section-transition .bottom-arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
}

.l-content-wrap {
  height: 100%;
}

.home #l-dashboard {
  display: none;
}

.home #l-page-content {
  display: block;
}

@media only screen and (max-width : 768px) {
  .l-section > .container {
    padding: 50px 15px;
  }
}